*,
*:before,
*:after { 
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
}
body {
	background: #fff; 
	font-weight: 300;
}
body,
button,
input,
select,
textarea {
	color: $black;
	font-family: $font-body;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: $font-body; //it just looks better on headings
	font-weight: 300;
}
h1 { font-size: 2.2em; }
h2 { font-size: 2em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.6em; }
h5 { font-size: 1.4em; }
h6 { font-size: 1.2em; }

p {
	font-size: 1em;
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: $main;
	&:hover, &:focus, &:active {
		color: darken($main,5%);
		outline: 0;
	}
}
a:visted {
	color: $main;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: rgba($hr,0.80);
	border: 0;
	height: 4px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Buttons & Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 2px solid $border1;
	border-radius: 3px;
	background: transparent;
	color: $white;
	font-size: 1.125em;
	line-height: 1;
	padding: 14px 27px; /* .md */
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	padding: 3px;
	color: white;
	border: 2px solid $border1;
	border-radius: 3px;
	background: transparent;
	width: 100%;
	height: 50px;
	line-height: 50px;
	&:focus {
		border: 3px solid $accent;
	}
}
textarea {
	padding-left: 3px;
	height: 100px;
}
/* button classes */
.button {
	display: block;
    margin: 0 auto;
    width: 250px;
    text-align: center;
	margin-top: 15px;
	border-radius: 2px;
	background-color: transparent;
	border: 1px solid white;
	color: white;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	&:hover {
	    background-color: $accent;
	    color: darken(white,1%);
	    border-color: darken(white,1%);
	}
	&.lg{
	    padding: 18px 27px;
	    font-size: 1.125em;
	}
	&.md{
	    padding: 14px 27px;
	    font-size: 1.125em;
	}
	&.sm{
	    padding: 10px 27px;
	    font-size: 1em;
	}
	&.main {
		background-color: $main;
		color: $main;
		border-color: $main;
		&:hover {
			color: darken($main,1%);
			border-color: darken($main,1%);
		}
	}
}
/*contact form 7 specific*/
.wpcf7-submit {
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
    color: white;
	&:hover {
		background-color: $accent;
	    color: darken(white,1%);
		background-color: $accent;
	}
}
div.wpcf7-validation-errors,
div.wpcf7-mail-sent-ok  {
	color: $accent;
	border: none;
}