*,
*:before,
*:after { 
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
}
body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}
body,
button,
input,
select,
textarea {
	color: $black;
	font-family: $font-body;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: $font-heading;
}
h1 { font-size: 2.2em; }
h2 { font-size: 2em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.6em; }
h5 { font-size: 1.4em; }
h6 { font-size: 1.2em; }

p {
	font-size: 1em;
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: $blue;
	&:hover, &:focus, &:active {
		color: darken($blue,5%);
		outline: 0;
	}
}
a:visted {
	color: $blue;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Buttons & Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid $black;
	border-radius: 3px;
	background: transparent;
	color: rgba(0, 0, 0, .8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	padding: 3px;
	color: $black;
	border: 1px solid #ccc;
	border-radius: 3px;
	&:focus {
		color: $blue;
	}
}
textarea {
	padding-left: 3px;
	width: 100%;
}
/* button classes */
button {
	.peach {
		background: $peach;
		color: white;
		&:hover {
			background: darken($peach, 5%);
		}
	}
}
button {
	.blue {
		background: $blue;
		color: white;
		&:hover {
			background: darken($blue, 5%);
		}
	}
}