/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.main-navigation {
	position: fixed;
	float: left;
	width: 100%;
	height: 40px;
	top: 0;
	text-align: center;
	z-index: 2000;
	clear: both;
	background: $blue;
	box-shadow: 0 0 3px rgba($border1, 0.25);
	-webkit-box-shadow: 0 0 3px rgba($border1, 0.25);
	-moz-box-shadow: 0 0 3px rgba($border1, 0.25);
	-ms-box-shadow: 0 0 3px rgba($border1, 0.25);
	ul {
		display: inline-block;
		list-style: none;
		margin: 0;
		padding-left: 0;
	}
	li {
		position: relative;
		float: left;
		padding: 5px 15px;
	}
	a {
		display: block;
		text-decoration: none;
		font-weight: 700;
		font-size: $md;
		color: white;
	}
}


/* a simple ass grid */
.grid_1 {
    width: 6.5%
}
.grid_2 {
    width: 15%
}
.grid_3 {
    width: 23.5%
}
.grid_4 {
    width: 32%
}
.grid_5 {
    width: 40.5%
}
.grid_6 {
    width: 49%
}
.grid_7 {
    width: 57.5%
}
.grid_8 {
    width: 66%
}
.grid_9 {
    width: 74.5%
}
.grid_10 {
    width: 83%
}
.grid_11 {
    width: 91.5%
}
.grid_12 {
    width: 100%
}
.grid_1,
.grid_10,
.grid_11,
.grid_12,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9 {
    margin: 0 2% 1% 0;
    float: left;
    display: block
}
.alpha {
    margin-left: 0
}
.omega {
    margin-right: 0
}
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0
}
.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0
}
* html .clearfix,
:first-child+html .clearfix {
    zoom: 1
}

/*--------------------------------------------------------------
# Layout types
--------------------------------------------------------------*/
.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}
.full { //allows a full-width background
    width: auto;
    max-width: 1100px;
    margin: auto;
}
.slide {
	position: relative;
	background-attachment: fixed;
	width: 100%;
	height: auto;
	padding: 30px 15px;
}
/*--------------------------------------------------------------
# Positioning & Sizings
--------------------------------------------------------------*/
.circle {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}
.star {
	margin: 30px auto;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    border-color: $white;
    text-align: center;
    color: $blue;
    &:after {
		content: "\e805";
		display: inline-block;
		position: relative;
		top: -.8em;
		padding: 0 .25em;
		font-family: Fontello;
	    font-size: $xl + 0.5em;
	    background: $white;
   }
}
/*--------------------------------------------------------------
# Templates
--------------------------------------------------------------*/
/* home */
.slide {

	//top section
	&.about {
		text-align: center;
		background: $blue;
		color: $white;
		border-bottom: 4px solid darken($blue,2%);//darken bg color
		img {
			display: block;
			margin: 125px auto auto;
			width: 85px;
			height: auto;
			background: rgba($white,0.1);
			padding: 5px;
		}
		.skills {
			font-size: $xl;
			color: $white;
			span {
				color: $peach;
			}
		}
		.star {
			&:after {
				background: $blue;
				color: $white;
			}
		}
	}
	
	//articles section 
	&.articles {
		background: white;
		color: $blue;
		border-bottom: 4px solid darken($white,2%);//darken bg color
		h2 {
			color: $blue;
		}
		p.about {
			font-size: $xl;
			text-align: center;
		}
		.star {
			border-color: $blue;
			&:after {
				background: white;
				color: $blue;
			}
		}
		a {
			text-decoration: none;
		}
	}
	
	//work section
	&.work {
		background: $gray;
		color: white;
		border-bottom: 4px solid darken($gray,2%);//darken bg color
		h2 {
			color: white;
		}
		a {
			text-decoration: none;
		}
		.star {
			border-color: white;
			&:after {
				background: $gray;
				color: white;
			}
		}
		img {
			max-width: 100%;
			height: 180px;
			padding: 5px;
			background: white;
		}
		.work-title {
			color: white;
			margin: 0;
			padding: 5px 0 2px;
			border-bottom: 2px solid lighten($gray,2%);
			width: 92%;
		}
		ul.tags {
			margin: 0;
			padding: 2px 0 5px;
			list-style: none;
			border-bottom: 2px solid lighten($gray,2%);
			width: 92%;
			li {
				display: inline-block;
				padding: 0 2px;
				font-size: $sm;
				&:after {
					content: ' -';
					color: $peach;
				}
				&:last-child:after {
					content: '';
				}
				a {
					color: $white;
				}
			}

		}
	}
	
	//contact section
	&.contact {
		background: $blue;
		color: white;
		border-bottom: 4px solid darken($blue,2%);//darken bg color
		h2 {
			color: white;
		}
		.star {
			border-color: white;
			&:after {
				background: $blue;
				color: white;
			}
		}
		a {
			color: white;
		}
		p {
			font-size: $md;
		}
	}
/*--------------------------------------------------------------
# Single & Entry-content
--------------------------------------------------------------*/
	&.single {
		&.header {
			padding: 125px 0 50px;
			background: $blue;
			color: white;
			.star {
				border-color: white;
				&:after {
					background: $blue;
					color: white;
				}
			}
			.entry-date {
				display: block;
				text-align: center;
			}
		}
		&.content {
			background: white;
			color: $black;
			border-bottom: 4px solid darken(white,2%);//darken bg color
		}
	}
		&.articles-page {
			&.content,
			.post-title,
			h2,
			i {
				color: white;
			}
			a {
				text-decoration: none;
			}
		}
		.tags {
			display: block;
			text-align: center;
			a {
				color: white;
				padding: 0 2px;
			}
		}
}

.title {
	text-align: center;
}
.post-title {
    margin-top: 0;
    margin-bottom: 5px;
	text-align: left;
	color: $gray;
}
.entry-content {
	.entry-date {
		font-weight: 700;
	}
	p {
		font-size: $md;
	}
}

.thumbnail {
	background: transparent;
	width: 60px;
	height: 60px;
	cursor: pointer;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transform: scale(1.05);
    &.default {
    	background: $gray;
    	opacity: 0.9;
		i {
			position: absolute;
			color: $white;
			font-size: $xl;
			margin: 14px;
		}
		&:hover {
			opacity: 1;
			background: $blue;
			transform: scale(1.05);
			-webkit-transform: scale(1.05);
			-moz-transform: scale(1.05);
			-ms-transform: scale(1.05);
		}
    }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
	padding: 30px 0px;
	text-align: center;
}