/*--------------------------------------------------------------
# Header & Navigation
--------------------------------------------------------------*/
.site-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 90%;
    height: 80px;
	max-width: 1100px;
	margin: 0 auto;
	background-color: transparent;
	z-index: 2000;
	@media (max-width: 768px) {
		flex-direction: column; //stack-items
		width: 100%;
		height: auto;
	}

	.site-branding,
	.site-navigation {
	    flex: 1 auto;
	    @media (max-width: 768px) {
		    margin: 10px 0;
		}
	}
	
	.site-branding {
		span a {
		    font-family: $font-logo;
		    font-size: $md;
		    font-weight: 400;
		    color: $black;
		    text-decoration: none;
		    span { color: $main;}
		    &:before {
			    content: '';
			    position: absolute;
			    background: url('assets/img/brianzotoole.jpg') 0 0 no-repeat;
			    background-size: 100%;
			    width: 20px;
			    height: 19px;
			    top: 29px;
			    left: -23px;
		    }
		}
	}

	.site-navigation {
		text-align: right;
		padding: 10px 0;
	}
	

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	
	li {
	    display: inline-block; 
		padding: 0 15px;
		
		a {
			font-size: $default;
			color: $black;
			text-decoration: none;
		}
	}
	
}

/*--------------------------------------------------------------
# Grid
--------------------------------------------------------------*/
.grid_1 {
    width: 6.5%
}
.grid_2 {
    width: 15%
}
.grid_3 {
    width: 23.5%
}
.grid_4 {
    width: 32%
}
.grid_5 {
    width: 40.5%
}
.grid_6 {
    width: 49%
}
.grid_7 {
    width: 57.5%
}
.grid_8 {
    width: 66%
}
.grid_9 {
    width: 74.5%
}
.grid_10 {
    width: 83%
}
.grid_11 {
    width: 91.5%
}
.grid_12 {
    width: 100%
}
.grid_1,
.grid_10,
.grid_11,
.grid_12,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9 {
    margin: 0 2% 1% 0;
    float: left;
    display: block
}
.alpha {
    margin-left: 0
}
.omega {
    margin-right: 0
}
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0
}
.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0
}
* html .clearfix,
:first-child+html .clearfix {
    zoom: 1
}

/*--------------------------------------------------------------
# Layout types
--------------------------------------------------------------*/
.flex-grid {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	
	.item {
		padding: 1%;
		margin: 0;
	}
}
.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}
.full { //allows a full-width background
    width: auto;
    max-width: 1100px;
    margin: auto;
}
.slide {
	position: relative;
	background-attachment: fixed;
	width: 100%;
	height: auto;
	padding: 30px 15px;
}
/*--------------------------------------------------------------
# Positioning & Sizings
--------------------------------------------------------------*/
.circle {
	border-radius: 50%;
}
.star {
	margin: 30px auto;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    border-color: $white;
    text-align: center;
    color: $accent;
    &:after {
		content: "\e805";
		display: inline-block;
		position: relative;
		top: -.8em;
		padding: 0 .25em;
		font-family: Fontello;
	    font-size: $xl + 0.5em;
	    background: $white;
   }
}
/*--------------------------------------------------------------
# Templates
--------------------------------------------------------------*/
/* home */
.slide {

	//top section
	&.about {
		text-align: center;
		background-color: $main;
		color: $white;
		border-bottom: 4px solid darken($main,2%);//darken bg color
		img {
			display: block;
			margin: 125px auto auto;
			width: 85px;
			height: auto;
			padding: 1px;
		}
		.skills {
			font-size: $lg;
			color: $white;
			span {
				color: $accent;
			}
		}
		.star {
			&:after {
				background: $main;
				color: $white;
			}
		}
	}
	
	//articles section 
	&.articles {
		background: white;
		color: $black;
		border-bottom: 4px solid darken($white,2%);//darken bg color
		h2 {
			color: $main;
		}
		.post-title {
			color: $main;
		}
		p.about {
			font-size: $xl;
			text-align: center;
		}
		.star {
			border-color: $main;
			&:after {
				background: white;
			}
		}
		a {
			text-decoration: none;
		}
		hr {
		    background-color: darken($hr,2%);
		}
	}
	
	//work section
	&.work {
		background: white;
		color: $black;
		border-bottom: 4px solid darken($white,2%);//darken bg color
		text-align: center;
		h2 {
			color: $black;
		}
		a {
			text-decoration: none;
		}
		.star {
			margin-bottom: 50px;
			border-color: $main;
			&:after {
				background: white;
				color: $accent;

			}
		}
		img {
			max-width: 100%;
			width: 325px;
			height: 180px;
			padding: 5px;
			background: white;
		}
		.work-title {
			color: $black;
			margin: 0 auto;
			padding: 5px 0 2px;
			border-bottom: 2px solid darken($white,2%);//darken bg color
			max-width: 92%;
		}
		ul.tags {
			margin: 0 auto;
			padding: 2px 0 5px;
			list-style: none;
			border-bottom: 2px solid darken($white,2%);//darken bg color
			width: 92%;
			li {
				display: inline-block;
				padding: 0 2px;
				font-size: $sm;
				&:after {
					content: ' -';
					color: $accent;
				}
				&:last-child:after {
					content: '';
				}
				a {
					color: $black;
				}
			}
		}
		.more {
			display: block;
			margin: 5px 0 20px;
			color: white;
			&:after {
				content: "\e806";
				font-family: Fontello;
				font-size: $sm;
				padding-left: 5px;
			}
		}
	}
	
	//contact section
	&.contact {
		background: $main;
		color: white;
		border-bottom: 4px solid darken($white,2%);//darken bg color
		h2 {
			color: white;
		}
		.star {
			border-color: white;
			&:after {
				background: $main;
				color: white;
			}
		}
		a {
			color: white;
		}
		p {
			font-size: $md;
		}
	}
/*--------------------------------------------------------------
# Single & Entry-content
--------------------------------------------------------------*/
	&.single {
		&.header {
			padding: 125px 0 50px;
			background: $main;
			color: white;
			.star {
				border-color: white;
				&:after {
					background: $main;
					color: white;
				}
			}
			.entry-date {
				display: block;
				text-align: center;
			}
		}
		&.content {
			background: white;
			color: $black;
			border-bottom: 4px solid darken(white,2%);//darken bg color
		}
	}
		&.articles-page {
			&.content,
			.post-title,
			h2,
			i {
				color: white;
			}
			a {
				text-decoration: none;
			}
		}
		.tags {
			display: block;
			text-align: center;
			a {
				color: white;
				padding: 0 2px;
			}
		}
}

.title {
	text-align: center;
}
.post-title {
    margin-top: 0;
    margin-bottom: 5px;
	text-align: left;
	color: $gray;
}
.entry-content {

	.entry-date {}

	ul, ol {
		margin: 10px 0 20px 5px;
	}
}

.thumbnail {
	background: transparent;
	width: 60px;
	height: 60px;
	cursor: pointer;
    transition: all .2s ease-out;
    
    &.default {
    	background: $gray;
    	opacity: 0.9;
		i {
			position: absolute;
			color: $white;
			font-size: $xl;
			margin: 14px;
		}
		&:hover {
			opacity: 1;
			background: $main;
			transform: scale(1.05);
			-webkit-transform: scale(1.05);
			-moz-transform: scale(1.05);
			-ms-transform: scale(1.05);
		}
    }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
	padding: 30px 0px;
	text-align: center;
}
//instant click.js loading bar
#instantclick-bar {
  background: $accent;
}