/*--------------------------------------------------------------
# Template-services specific styles
--------------------------------------------------------------*/
$color1: #A99E68;
$color2: #A96868;
$color3: #A9688C;
$color4: #7E68A9;
$color5: #688EA9;
$color6: #68A982;

/*--------------------------------------------------------------
# Service boxes
--------------------------------------------------------------*/
.projects-grid {
    display: flex;
    flex-flow: wrap;
    width: 100%;
    margin: 0 auto -27px;

.item {
    padding: 100px 0;
    flex: 1 33%; //flex-grow, flex-basis
    width: 33%;
    width: calc( ( 99% ) / 3 ); //== 1/3 column minus [gutter]
    height: 260px;
    text-align: center;
    box-sizing: border-box;
    background: $main;
    margin: 2px;
    cursor: pointer;
    transform: translateZ(0);
	transition: 0.5s opacity ease-out;
	z-index: 2001;
	
	@media (max-width: 1099px) {
	    flex: 1 50%;
	    width: 50%;
        width: calc( ( 99% ) / 2 );
	}
	@media (max-width: 768px) {
	    flex: 1 100%;
	    width: 100%;
	    height: 200px;
	}
	
    &:hover {
	    opacity: 1;
    }
    &:before {
	    content: '';
        position: absolute;
        height: 4px;
        top: -4px;
		left: 50%;
		right: 50%;
		background-color: $accent;
		z-index: -1;
		transition-property: left,right;
		transition-duration: 0.5s;
		transition-timing-function: ease-out;
    }
    &:hover:before {
	    left: 0;
	    right: 0;
    }
    
   
}

.item-bg {
    position: absolute;
    top: 0;
    left: 0;
	width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.item-overlay {
    position: absolute;
	width: 100%;
	height: 100%;
	background-color: $accent;
	background-color: rgba($main, 0.95);
	transition: all 0.5s ease-out;
	&:hover {
		background-color: rgba($accent, 0.62);
	}
}

.item-caption {
	width: 100%;
	height: 100%;
	padding-top: 110px;
	@media (max-width: 768px) {
	    padding-top: 75px;
	}
}

.item-title,
.item-view {
	color: white;
}
.item-title {
    font-size: $xl;
}
.item-view {
    display: block;
    i { 
        font-size: 0.9em; 
        color: $accent;
    }
}


} //.projects-grid


// Filters
.filter-container {
	
	ul {
		margin: 0 0 40px;
		padding: 0;
		list-style-type: none;
		text-align: center;
		
		li {
			display: inline;
		}
		
		li a {
			padding: 10px;
			position: relative;
			z-index: 1;
			color: $black;
			font-weight: 700;
			display: inline-block;
			transition: transform 0.3s;
			
			&:hover {
				color: $main;
				
				&::before {
					transform: scale(1) skew(0);
				}
			}
			
			&::before {
				content: '';
				height: 100%;
				width: 100%;
				background-color: transparent;
				z-index: -1;
				position: absolute;
				top: 0;
				left: 0;
				transform: scale(0.2) skew(-10deg);
				transition: transform 0.3s;
			}
		}
		
		.is-checked {
			border: 1px solid $black;
			color: $black;
		}
	}
	
}
