// Portfolio part + page styles

.page-portfolio { }

.masonry-grid {
    max-width: 1200px;
    width: 100%;
    margin: 30px auto;
    overflow: hidden;
    transition-property: height, width;
    
    &:after { //clearfix
	  content: '';
	  display: block;
	  clear: both;
  }
  
  .item {
	  float: left;
	  width: calc( ( 100% - 30px ) / 3 ); //== 1/3 column minus 2 gutters of 15px
	  height: 350px;
	  margin-bottom: 15px; //== gutter on masonry
	  background-color: white;
	  border: 1px solid lighten($border1,18%);
	  box-shadow: rgba($border1, 0.1) 0 0 8px 0;
      z-index: 2;

	  // item categories == sizes + filterable options
	  &.design,
	  &.development,
	  &.creative-strategy,
	  &.project-management {
          //default
	  }
	  
	  &.design,
	  &.taller {
		  height: 475px; //taller
	  }
	  &.design,
	  &.development,
	  &.creative-strategy,
	  &.project-management,
	  &.default,
	  &.taller {
	    @media (max-width: 768px) {
          width: 100%;
          height: 150px;      
	    }
	  }
	  
	  .item-bg {
		  width: auto;
		  height: 100%;
		  background-size: cover;
		  background-position: center center;
		  background-repeat: no-repeat;
		  opacity: 1;
		  
		  @media (max-width: 768px) {
		      background-size: 100%;
		      background-position: 100%;
		  }
		  
		  .item-overlay {
			  width: 100%;
			  height: 100%;
			  opacity: 0.75;
			  background: -webkit-linear-gradient(left, rgba($black,0.99), rgba($black,0.85)); 
			  transform: translateZ(0);
			  transition: 0.5s opacity ease-out;
			  @media (max-width: 768px) {
			      opacity: 0.99;
			  }
			  &:hover {
				  opacity: 1;
			  }
		  }
		  // outline from center hover effect
		  .item-overlay:before {
			  content: '';
			  position: absolute;
			  z-index: -1;
			  left: 50%;
			  right: 50%;
			  top: 0;
			  background-color: $main;
			  height: 4px;
			  transition-property: left,right;
			  transition-duration: 0.5s;
			  transition-timing-function: ease-out;
			}
			.item-overlay:hover:before, 
			.item-overlay:focus:before, 
			.item-overlay:active:before {
			  left: 0;
			  right: 0;
			}


		  .item-caption {
		      position: absolute;
		      bottom: 0;
			  width: 100%;
			  height: auto;
			  padding: 20px;
			  text-align: left;
			  background: black;
			  @media (max-width: 768px) {
			      height: 100%;
			  }
		  }
		  .item-title,
		  .item-view {
			  position: relative;
		      width: 100%;
		      font-weight: 700;
		      color: white;
		  }
		  .item-title {}
		  .item-view {
			  i { font-size: 0.9em; }
		  }
	  }
  
  }
 
}

.masonry-grid,
.masonry-grid .item {
    transition-duration: 0.3s;
    backface-visibility: hidden;
}


// Filters
.filter-container {
	
	ul {
		margin: 30px 0;
		padding: 0;
		list-style-type: none;
		text-align: center;
		
		li {
			display: inline-block;
			padding: 0 8px;
		}
		
		li a {
			padding: 0 0 8px;
			position: relative;
			color: $black;
			z-index: 1;
			&:hover {
				color: darken($black,2%);
				
				&::after {
				    transform: translateY(0);
					opacity: 1;
				}
			}
			
			&::after {
				content: '';
				opacity: 0;
				height: 4px;
				width: 100%;
				left: 0;
				right: 0;
				background-color: $main;
				z-index: -1;
				position: absolute;
				bottom: -1px;
				left: 0;
				transform: translateY(-1px);
				transition: all 0.2s ease-in-out;
			}
		}
		
	}
.is-checked {
    color: $main;
	&::after {
	    content: '';
	    opacity: 1;
		height: 4px;
		width: 100%;
		left: 0;
		right: 0;
		background-color: $main;
		position: absolute;
		bottom: -1px;
		left: 0;
		transform: translateY(0);
		transition: all 0.2s ease-in-out;
    }	
}
	
}

