// Portfolio part + page styles

.page-portfolio { }

.masonry-grid {
    max-width: 1200px;
    width: 100%;
    margin: 30px auto;
    overflow: hidden;
    transition-property: height, width;
    
    &:after { //clearfix
	  content: '';
	  display: block;
	  clear: both;
  }
  
  .item {
	  float: left;
	  width: calc( ( 100% - 40px ) / 3 ); //== 1/3 column minus 2 gutters of [gutter size]
	  height: 350px;
	  margin-bottom: 20px; //== gutter on masonry
	  background-color: white;
	  box-shadow: rgba($border1, 0.1) 0 0 8px 0;	 
      z-index: 2;
      
      @media (max-width: 768px) {
          float: none;
          width: 100%;
          height: 200px;
      }
	  
	  .item-bg {
		  width: auto;
		  height: 100%;
		  background-size: cover;
		  background-position: center center;
		  background-repeat: no-repeat;
		  border: 1px solid rgba($border1, 0.25);
		  box-shadow: 0 2px 7px rgba(0,0,0,.1);
		  opacity: 1;
		  
		  @media (max-width: 768px) {
		      background-size: 100%;
		      background-position: 100%;
		  }
		  
		  .item-overlay {
		      position: relative;
			  width: 100%;
			  height: 100%;
			  opacity: 0;
			  background: -webkit-linear-gradient(left, rgba($black,0.99), rgba($black,0.85)); 
			  transform: translateZ(0);
			  transition: 0.5s opacity ease-out;
			  z-index: 2;
			  @media (max-width: 768px) {
			      opacity: 0.99;
			  }
			  &:hover {
				  opacity: 0.5;
				  box-shadow: rgba(0, 0, 0, 0.9) 0px 0px 20px 0px;
			  }
		  }
		  // outline from center hover effect
		  .item-overlay:before {
			  content: '';
			  position: absolute;
			  z-index: -1;
			  left: 50%;
			  right: 50%;
			  top: 0;
			  background-color: $accent;
			  height: 4px;
			  transition-property: left,right;
			  transition-duration: 0.5s;
			  transition-timing-function: ease-out;
			}
			.item-overlay:hover:before, 
			.item-overlay:focus:before, 
			.item-overlay:active:before {
			  left: 0;
			  right: 0;
			}


		  
	  }
  
  }
 
}

.item-caption {
    position: absolute;
	bottom: 0;
	width: 100%;
	height: auto;
	padding: 0 10px;
	text-align: left;
	background-color: white;
	border: 1px solid rgba($border1, 0.25);
	
    @media (max-width: 768px) {
        height: 100%;
    }
    
}
.item-title,
.item-view {
	position: relative;
	width: 100%;
	color: $black;
}
.item-title {}
.item-view {
    i { 
        font-size: 0.9em; 
        color: $accent;
    }
}

.masonry-grid,
.masonry-grid .item {
    transition-duration: 0.3s;
    backface-visibility: hidden;
}


// Filters
.filter-container {
	
	ul {
		margin: 30px 0 -10px;
		padding: 0 0 6px;
		list-style-type: none;
		text-align: left;
		border-bottom: 1px solid $border1;
		
		@media (max-width: 768px) {
		    margin: 0 auto;
		}
		
		li {
			display: inline-block;
			padding: 0 8px;
			@media (max-width: 768px) {
			    padding: 15px 10px;
			}
			
		    @media (min-width: 768px) {
		        &:first-child {
				    padding-left: 0;
				}
			}

		}
		
		li a {
			padding: 0 0 8px;
			position: relative;
			color: $black;
			z-index: 1;
			&:hover {
				color: darken($black,2%);
				
				&::after {
				    transform: translateY(0);
					opacity: 1;
				}
			}
			
			&::after {
				content: '';
				opacity: 0;
				height: 2px;
				width: 100%;
				left: 0;
				right: 0;
				background-color: $accent;
				z-index: -1;
				position: absolute;
				bottom: -1px;
				left: 0;
				transform: translateY(-1px);
				transition: transform 0.2s ease-in-out;
			}
		}
		
	}
.is-checked {
    color: $accent;
	&::after {
	    content: '';
	    opacity: 1;
		height: 2px;
		width: 100%;
		left: 0;
		right: 0;
		background-color: $accent;
		position: absolute;
		bottom: -1px;
		left: 0;
		transform: translateY(0);
		transition: transform 0.2s ease-in-out;
    }	
}
	
}

