/* Media Queries ----------------------------------------------------------- */

@media screen and (min-width: 1600px) {}//end

@media screen and (max-width: 1170px) {}//end

@media screen and (min-width: 768px) {}//end

@media screen and (max-width: 768px) {}//end

@media  screen and (max-width: 480px) {
  .grid_1,.grid_10,.grid_11,.grid_12,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9 {
      width: 100%
  }
  .container {
	  width: auto;
	  max-width: 100%;
	  margin: 0 15px;
  }
	
	
	
}//end
