/* Media Queries ----------------------------------------------------------- */

@media screen and (max-width: 1170px) {}//end

@media screen and (min-width: 768px) {}//end
    .hidden-xs {
        display: block;
    }
    .visible-xs {
        display: none;	
    }
@media screen and (max-width: 768px) {

	.button, .wpcf7-submit {
		width: 100%;
	}
	.thumbnail.default {
		display: none;
	}
	.slide.work {
		img {
			width: auto;
			height: auto;	
		}
		ul.tags,
		.work-title {
			max-width: 100%;
			width: auto;
		}
	}
    .hidden-xs {
        display: none;
    }
    .visible-xs {
        display: block;	
    }
}//end

@media  screen and (max-width: 480px) {
  body {
	  font-size: 0.9em;
  }
  .main-navigation {
      li {
	      padding: 10px 15px;
	  }
      a {
      	  font-size: 1em; 
	  }
  }
  .grid_1,.grid_10,.grid_11,.grid_12,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9 {
      width: 100%;
  }
  .container {
	  width: auto;
	  max-width: 100%;
	  margin: 0 15px;
  }
  .full {
	  padding: 0 20px;
  }
  .slide.about img {
	  margin: 60px auto auto;
  }
  .slide.single.header {
      padding: 60px auto auto;
  }
	
	
}//end
