// Colors
$main: #46737D; 
$accent: #da7171; 
$black: #555; //text on light bg
$white: #f5f5f5; //text on dark bg
$gray: #252525;
$border1: #D6D6D6;
$hr: #f3f3f3;

// Sizings
$xl: 1.5em;
$lg: 1.25em;
$md: 1.15em;
$sm: 0.85em;

// Typography
@import url('https://fonts.googleapis.com/css?family=Montserrat|Lato:400,700');

$font-heading: 'Montserrat', serif, Helvetica;
$font-body: 'Lato', Verdana, Arial;

@import "reset";
@import "fontello";
@import "base";
@import "wp";
@import "layout";
@import "responsive";