// Colors
$main: #35526B; //blue
$accent: #D7A22A; //light gold
$black: #323231; //text on light bg
$white: #f5f5f5; //text on dark bg
$gray: #252525;
$border1: #D6D6D6;
$hr: #f3f3f3;

// Sizings
$xl: 1.5em;
$lg: 1.25em;
$md: 1.15em;
$sm: 0.85em;

// Typography
@import url('https://fonts.googleapis.com/css?family=Lato|Merriweather:300,700');

$font-heading: 'Lato', serif, Helvetica;
$font-body: 'Merriweather', Verdana, Arial;

@import "reset";
@import "fontello";
@import "base";
@import "wp";
@import "layout";
@import "responsive";